<IfModule mod_mime.c>
    AddType application/javascript .js
    AddType application/javascript .mjs
    AddType text/javascript .js
    AddType text/javascript .mjs
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Content-Type "application/javascript" env=IS_JS
</IfModule> 